<% content_for :main_body do %>
<style>
	.promo-page .block-small-grey {
		min-height: 120px;
		padding: 50px 20px 30px 20px;
		background: #eeedf2;
	}
	
</style>

<div style="border-bottom: 1px solid #FEFEFE;" class="block-small-grey" >
	<div class="container">
		<div class="row-fluid">
			<div class="row-fluid recent-work margin-bottom-40">
			    <div class="span6">
			        <h2><a href="/gallery">My Gallery</a></h2>
			        <p>List of albums that consists of memorable photos.</p>
			    </div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="block-transparent">
     <div class="container">
		<div class="row-fluid recent-work margin-bottom-40">
		</div>
	</div>
</div> -->
<div style="width: 100%; margin-bottom: 50px;"></div>
<!-- BEGIN CONTAINER -->   
    <div class="container min-hight">
        <!-- BEGIN FILTER -->           
        <div class="filter-v1 margin-bottom-40">
            <ul class="filter-category">
                <li class="filter active" data-filter="all">All</li>
                <li class="filter" data-filter="category_1">UI Design</li>
                <li class="filter" data-filter="category_2">Web Development</li>
                <li class="filter" data-filter="category_3">Photography</li>
                <li class="filter" data-filter="category_3 category_1">Wordpress and Logo</li>
            </ul>
            <ul id="ul_parent" class="grid-v1 thumbnails">
                <li class="span3 mix category_1">
                    <img src="assets/img/works/img1.jpg" alt="">
                    <div class="hover-portfolio hover-portfolio-small">
                        <a class="hover-portfolio-rgt fancybox-button" href="/assets/img/works/img1.jpg" title="Project Name" data-rel="fancybox-button">
                        	<i class="icon-search"></i>
                        </a>                
                    </div>                                        
                </li>
                <li class="span3 mix category_2">
                    <img src="assets/img/works/img2.jpg" alt="">
                    <div class="hover-portfolio hover-portfolio-small">
                        <a class="hover-portfolio-rgt fancybox-button" href="/assets/img/works/img2.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                                        
                </li>
                <li class="span3 mix category_3">
                    <img src="assets/img/works/img3.jpg" alt="">
                    <div class="hover-portfolio hover-portfolio-small">
                        <a class="hover-portfolio-rgt fancybox-button" href="/assets/img/works/img3.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                    
                </li>
                <li class="span3 mix category_1 category_2">
                    <img src="assets/img/works/img4.jpg" alt="">
                    <div class="hover-portfolio hover-portfolio-small">
                        <a class="hover-portfolio-rgt fancybox-button" href="/assets/img/works/img4.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                                        
                </li>
                <li class="span3 mix category_2 category_1">
                    <img src="assets/img/works/img5.jpg" alt="">
                    <div class="hover-portfolio hover-portfolio-small">
                        <a class="hover-portfolio-rgt fancybox-button" href="/assets/img/works/img5.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                                        
                </li>
                <li class="span3 mix category_1 category_2">
                    <img src="assets/img/works/img6.jpg" alt="">
                    <div class="hover-portfolio hover-portfolio-small">
                        <a class="hover-portfolio-rgt fancybox-button" href="/assets/img/works/img6.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                                        
                </li>
                <li class="span3 mix category_2 category_3">
                    <img src="assets/img/works/img1.jpg" alt="">
                    <div class="hover-portfolio hover-portfolio-small">
                        <a class="hover-portfolio-rgt fancybox-button" href="/assets/img/works/img1.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                                        
                </li>
                <li class="span3 mix category_1 category_2">
                    <img src="assets/img/works/img2.jpg" alt="">
                    <div class="hover-portfolio hover-portfolio-small">
                        <a class="hover-portfolio-rgt fancybox-button" href="/assets/img/works/img2.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                                        
                </li>
                <li class="span3 mix category_3">
                    <img src="assets/img/works/img4.jpg" alt="">
                    <div class="hover-portfolio hover-portfolio-small">
                        <a class="hover-portfolio-rgt fancybox-button" href="/assets/img/works/img4.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                                        
                </li>
                <li class="span3 mix category_1">
                    <img src="assets/img/works/img3.jpg" alt="">
                    <div class="hover-portfolio hover-portfolio-small">
                        <a class="hover-portfolio-rgt fancybox-button" href="/assets/img/works/img3.jpg" title="Project Name" data-rel="fancybox-button"><i class="icon-search"></i></a>                            
                    </div>                                        
                </li>
            </ul>
        </div>
        <!-- END FILTER -->           
    </div>
    <!-- END CONTAINER -->
<% end %>
